/* Подключение обычного начертания шрифта Raleway для основного текста. */
@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

/* Подключение жирного начертания шрифта Raleway для заголовков и акцентных элементов. */
@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
